[Unit]
Description=Sunshine Node

[Service]
Type=simple
ExecStart=/sunshine/sunshine-node --base-path /sunshine/db --keystore-path /sunshine/keystore --node-key-file /sunshine/node-key --chain /sunshine/chain.json --validator

[Install]
WantedBy=multi-user.target
